body {
    background-color: rgb(35, 35, 33);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    font-size: 16px;
    padding: 12px;
    color: rgb(207, 207, 205);
}
header {
    padding: 10px 20px;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2px;
}
h1 {
    font-family: "Oswald";
    font-size: 24px;
    padding-bottom: 15px;
}
h2 {
    font-family: "Sonsie One";
    font-size: 21px;
    padding-bottom: 10px;
}

    
    

.box {
    background: rgb(207, 207, 205);
    height: 20vh;
    background: cover;
    min-height: 150px;
    color: rgb(35, 35, 33);
}
.box h6{
    background: white;
    border-bottom: rgb(35, 35, 33) dotted 1px;
    padding: 15px;
}

.one {
    background-image: url(images/lake.jpg);
    background-size: 500px;
    background-position-y: 50%;
    background-position-x: 50%;
}
.two {
    background-image: url(images/empire.jpg);
    background-size: 500px;
    background-position-y: 40%;
}
.three {
    background-image: url(images/person.jpg);
    background-size: 500px;
    background-position-y: 40%;
}
.four {
    background-image: url(images/tree.jpg);
    background-size: 500px;
    background-position-y: 40%;
}
.five {
    background-image: url(images/geo.jpg);
    background-size: 500px;
    background-position-y: 40%;
}
.six {
    background-image: url(images/sand.jpg);
    background-size: 500px;
    background-position-y: 40%;
}
.seven {
    background: url(images/bridge.jpg) 500px;
    background-position-y: 40%;
}
.eight {
    background: url(images/lens.jpg) 500px;
    background-position-y: 40%;
}




@media only screen and (min-width: 600px) {

    body {
      grid-template-rows: 200px 1fr;
    }
  
    main{ 
      width: 80%; 
      margin: 0 auto;
      display: grid;
      grid-gap: 2px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  
    .box {
      height: 33vh;
      min-height: 200px;
    }
  
  }